html, body { 
    margin:0; 
    padding:0; 
    height:100%; 
  }

.container{
    padding: 0px !important;
}

.logo{
    margin-top: 25px;
}

.left_sign_in{

}

.right_sign_in{
    margin: 0px 0px 0px 0px;
    position: absolute;
    height: 100%;
    width: 100%;
    background: -moz-linear-gradient(45deg, rgba(28,20,74,1) 0%, rgba(56,44,111,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(28,20,74,1)), color-stop(100%, rgba(56,44,111,1))); /* safari4+,chrome */
    background: -webkit-linear-gradient(45deg, rgba(28,20,74,1) 0%, rgba(56,44,111,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-linear-gradient(45deg, rgba(28,20,74,1) 0%, rgba(56,44,111,1) 100%); /* opera 11.10+ */
    background: -ms-linear-gradient(45deg, rgba(28,20,74,1) 0%, rgba(56,44,111,1) 100%); /* ie10+ */
    background: linear-gradient(45deg, rgba(28,20,74,1) 0%, rgba(56,44,111,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#382c6f', endColorstr='#1c144a',GradientType=1 ); /* ie6-9 */
}